---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <h1 class="masthead-title--small">
    {{ site.description }}
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content post">
	<div class="post-date">
		<time>{{ page.date | date: "%-b %-d, %Y" }}</time>
	</div>
	<h2 class="post-title">{{ page.title }}</h2>
	{{ content }}
</div>
